/* Basic styles */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #afdde5;
  color: #003135;
}

header {
  height: 170px;
  width: 1519px;
  /* border: 2px solid black; */
  background-color: #0fa4af;
  display: flex;
  justify-content: center;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
}

.d_logo {
  border: 2px solid black;
  height: 120px;
  width: 120px;
  margin: 15px auto;
  background-image: url(/public/images/logo.png);
}

.d_header {
  border: 2px solid black;
  width: 1100px;
  height: 120px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d_login {
  border: 2px solid black;
  height: 120px;
  width: 120px;
  margin: 15px auto;
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center the text */
}

.d_login img {
  width: 50px; /* Adjust the size of the image */
  height: 50px; /* Adjust the size of the image */
  margin-bottom: 5px; /* Space between the image and text */
}

.d_login span {
  text-decoration: none;
  color: white;
}

.d_login :hover {
  color: #003135;
}

.d_header h1 {
  margin-bottom: 15px;
}

.d_header nav {
  width: 1000px;
  /* border: 2px solid black; */
  height: 30px;
  font-size: large;
  padding-top: 15px;
}

nav a {
  text-decoration: none;
  color: whitesmoke; /* Adjust link color */
}

nav a:hover {
  color: #003135; /* Adjust link color on hover */
  text-decoration: underline;
}
.d_header ul {
  list-style: none;
  display: flex; /* Make ul a flex container */
  justify-content: space-evenly; /* Distribute li items evenly with space around them */
}

.d_header nav ul li {
  display: inline;
}

.d_logo,
.d_header,
.d_login {
  box-shadow: 15px 15px 5px black;
}

main {
  /* border: 2px solid red; */
  background-color: #0fa4af;
  height: 500px;
  width: 1519px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1:hover {
  color: black;
}

#contact {
  border: 2px solid black;
  box-shadow: 15px 15px 5px black;
  padding: 20px;
  margin-top: 40px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#contact h2 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-decoration: underline;
}

#contact p {
  margin-bottom: 20px;
}

#contact form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color:#003135;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #005f73;
}

footer {
  /* border: 2px solid blue; */
  height: 300px;
  width: 1519px;
  background-color: #0fa4af;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

footer .footer-content {
  padding: 20px;
  border: 2px solid black;
  box-shadow: 15px 15px 5px black;
  width: 1400px;
}

.footer-content p {
  color: whitesmoke;
}
.footer-section-links,
.footer-section-contact h2 {
  text-decoration: underline;
}

.social-media a {
  padding: 0px 10px;
  text-decoration: none;
  color: #003135;
}

.social-media a :hover {
  color: whitesmoke;
  text-decoration: underline;
}

@media only screen and (max-width: 1515px) {
  header {
    height: auto;
    width: auto;
    /* border: 2px solid black; */
    background-color: #0fa4af;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
  }

  @media only screen and (max-width: 1493px) {
    #introduction {
      width: 713px;
      height: auto;
    }

    footer .footer-content {
      width: 900px;
      height: auto;
    }
  }
}